@media (min-width:768px) {
    header, footer {
        padding: 24px;
    }
    section {
        padding: 40px 24px;
    }
    .hero {
        flex-direction: row-reverse;
        align-items: center;
    }
    .hero-image, .hero-text, .about-me-img, .about-me-text, .project-img, .project-details, form, .contact-info{
        width: 100%;
        /* background-color: red; */
    }
    .skill-boxes {
        grid-template-columns: repeat(3,1fr);
    }
    .box-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .box-header,.about-me, .project, .testi-list {
        flex-direction: row;
        align-items: center;
    }
    .project:nth-child(even) {
        flex-direction: row-reverse;
    }
    .testi-list {
        justify-content: center;
        flex-wrap: wrap;
    }
    .testi-box {
        flex-basis: 45%;
        flex-grow: 1;
    }
    .contact {
        display: flex;
        gap: 32px;
        align-items: center;
    }
}

@media (min-width:1024px) {
    header, footer, section {
        max-width: 1920px;
        margin: 0 auto;
   }
   header, footer {
    padding: 24px 80px;
   }
   section {
    padding: 60px 80px;
   }
   .menu {
    display: none;
   }
   nav, .resume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
   }
   nav a {
    font-size: var(--Heading5-Size);
    list-style: var(--Heading5-Lh);
    letter-spacing: var(--Heading5-Track);
    font-weight: 500;
    color: var(--primary-black);
   }
   nav a:hover {
    font-weight: 600;
   }
   nav~a {
    font-size: var(--Button-Text-size);
    line-height: var(--Button-Text-Lh);
    letter-spacing: var(--Button-Text-Track);
    font-weight: 600;
    color: var(--primary-white);
    background-color: var(--primary-black);
    gap: 8px;
    padding: 16px 20px;
    border-radius: 4px;

   }
   .menu-content {
    display: none;
   }
}